body {
    margin: 0;
    font-family: 'Roboto', 'Times new Roman', sans-serif;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: #372936;
}

.center {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 200px 80px;
}

.header, .first-row, .header-links {
    display: flex;
    color: white;
}
.header {
    align-items: center;
}
.logo {
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
}


.header-links {
    margin-left: auto;
}
ul {
    list-style-type: none;
    gap: 20px;
} 

.f-left {
    flex: 1;
    margin-right: 10px;
}
.f-right {
    flex: 1;
}
.f-left button, .forth-content {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-row h1 {
    color: #372936;
}

.boxes {
    display: flex;
    justify-content: center;
}

.s-image {
    width: 90%;
    height: 150px;
    border: #ac6de7 4px solid;
    border-radius: 10px;
    margin: 10px;
}

.boxes p {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-row {
    height: 20%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 50px 200px;
}
.third-row p {
    font-weight: 200;
    font-style: italic;
}
.third-signeture {
    margin-left: auto;
    font-size: large;
    font-weight: bolder;
}

.forth-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.forth-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 40px 100px;
}
.forth-content h3 {
    margin: 0;
    font-size: 20px;
}
.forth-content p {
    margin: 0;
    font-size: small;
    font-weight: lighter;
}
.forth-content button {
    margin-left: auto;
    height: fit-content;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
    color: white;
}
button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.096);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}